<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/profileJob.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
        <style>

            div#a::-webkit-scrollbar {
                width: 5px;
            }
            div#a::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 2px solid slategrey;
            }
            </style>
    </head>
    <body>
        <div class='all'>
        <form action="/job/findjob/search" method="GET">
        <div  style="margin-top: 50px;margin-left: 50px;margin-right: 50px;font-family: 'Bitter', serif;">
            <div style="padding: 10px 10px 10px " class="bg-drtail overflow-hidden">
            
                <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                    <div  style="background-color:gainsboro;" class="panel panel-default margin-bottom" >
                       
                        <div class='top'   >
                        <div class='part1' style="flex:10%;margin-top: 20px;margin-bottom: 20px;margin-right: 20px;"  >
                      
                        <input name="JobTilesOrCompanyname" style="margin-bottom: 20px;" type="search" class="form-control sj-form-control" placeholder="Job Tiles Or Companyname" name="firstname" id="jobtile" value="">

                        
                        <select type="search" class="form-control jobbkk-form-control text-form-select" id="degree" name="Degree" onChange="getOccupationSub();">
                            <option >Degree</option>
                            <option >None</option>
                            <option  >Bachelor's degree or higher</option>
                            <option  >Master's Degree or higher</option>
                            <option  >Vocational Certificate</option>
                            <option  >Diploma/High Vocational Certificate</option>
                            <option >Lower Than Vocational Certificate</option>
                            
                                                </select>
                   
                    </div>
                    <div class='part2'  >
                        
                                    <select type="search" name="JobCategories" style="margin-bottom: 20px;" class="form-control jobbkk-form-control text-form-select" id="JobCategories" onChange="getOccupationSub();">
                                        <option >Job Categories</option>
                                        <option  >E-commerce</option>
                                        <option  >Part-time</option>
                                        <option  >law</option>
                                        <option  >Construction</option>
                                        <option >Marketing / PR</option>
                                        <option  >Production / QA&QC</option>
                                        <option  >Medical</option>
                                        <option  >Education / Academic</option>
                                        <option  >Transportation / warehouse</option>
                                        <option  >Seller</option>
                                        <option  >Driver</option>
                                        <option >Advertising / Media</option>
                                        <option >Purchase</option>
                                        <option  >Safety officer / Environment</option>
                                        <option >Debt Collection Officer</option>
                                        <option  >Technician / Technician / Electronic</option>
                                        <option  >Travel / Hotel</option>
                                        <option  >Telecommunications</option>
                                        <option  >Banking / Finance</option>
                                        <option  >Geology and forestry</option>
                                                            </select>
                                                            
                                                                                                                                                                                                <select type="search" class="form-control jobbkk-form-control text-form-select" id="Province" name="Province" onChange="getOccupationSub();">
                                                                                                                                                                                                    <option >Province</option>
                                                                                                                                                                                                    <option  >Bangkok</option>
                                                                                                                                                                                                    <option  >Nakhon Pathom </option>
                                                                                                                                                                                                    <option  >Nakhon Sawan</option>
                                                                                                                                                                                                    <option  >Nonthaburi </option>
                                                                                                                                                                                                    <option >Chonburi </option>
                                                                                                                                                                                                    <option  >Rayong </option>
                                                                                                                                                                                                    <option  >Phetchaburi </option>
                                                                                                                                                                                                    <option >Ratchaburi</option>
                                                                                                                                                                                                    <option  >Krabi</option>
                                                                                                                                                                                                    <option  >Phuket </option>
                                                                                                                                                                                                    <option  >Ranong</option>
                                                                                                                                                                                                    <option  >Songkhla</option>
                                                                                                                                                                                                                        </select>
                    </div>
                  
                       


    <div class='part3'>
                        <select type="search" class="form-control jobbkk-form-control text-form-select" id="MinimumSalary" name="MinimumSalary" onChange="getOccupationSub();">
                            <option >MinimumSalary</option>
                            <option  >5,000</option>
                            <option  >10,000</option>
                            <option  >15,000</option>
                            <option  >20,000</option>
                            <option >25,000 </option>
                            <option  >30,000</option>
                            <option  >35,000</option>
                            <option >40,000</option>
                            <option  >45,000</option>
                            <option  >50,000</option>
                            <option  >55,000</option>
                            <option  >60,000</option>
                          
                                                </select>
                                      
                                            

                                                <select type="search" style="margin-top: 20px;" class="form-control jobbkk-form-control text-form-select" id="MaximumSalary" name="MaximumSalary" onChange="getOccupationSub();">
                                                    <option >MaximumSalary</option>
                                                    <option  >5,000</option>
                                                    <option  >10,000</option>
                                                    <option  >15,000</option>
                                                    <option  >20,000</option>
                                                    <option >25,000 </option>
                                                    <option  >30,000</option>
                                                    <option  >35,000</option>
                                                    <option >40,000</option>
                                                    <option  >45,000</option>
                                                    <option  >50,000</option>
                                                    <option  >55,000</option>
                                                    <option  >60,000</option>
                                                                        </select>
                                                                    </div>
                                                       
                                                  
                          
                             <div class='but'>
                                <button class='glass'  type="submit"><i class="fas fa-search"></i></button><br></form>
                                <button class='remove' type="button" onclick='clickclear()'  ><i class="fas fa-eraser"></i></button>
                            </div>
                       
                   

                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <div class='under '>
        
        
            <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                <div id='allunder' style="background-color:white;border-radius: 0px;" class="panel panel-default margin-bottom" >


                    <div style="background-color:	black;padding-bottom: 10px;color: white;border-radius: 0px;" class="panel panel-default margin-bottom">
                        <div id=boxrecom class="container" style="margin-top: 10px;">
                        <p class='recom' style="display: inline;">Recommended for you </p>
                        <p style="display: inline;text-indent: 10px;"> Total <%= job.length %> Jobs</p>
                    </div>
                    </div>
                    <div  id="a"style="background-color:white;border-radius: 0px;height: 970px;overflow: auto;" class="panel panel-default margin-bottom" >
                    <% job.forEach((findjob)=>{ %>
                        <div style="background-color:	white;color: black;padding-bottom:15px;border-radius: 0px;"class="panel panel-default margin-bottom"" >
                            <div class="container" style="margin-top: 10px;">
                                <p class='daypost' ><%= moment(findjob.Editdate).format('DD/MM/YYYY') %></p>
                           <div class='allcontent' >
                            <div class='pic'>
                              
                                <figure >
                                    <img class="img-thumbnail" src="/images/img-Comprofile/<%= findjob.image %>">
                                    </figure>
                          
                                </div>
                                <div class='detailjob' >
                                <p class='position'><%= findjob.JobPosition %></p>
                            <p class="comname" ><%= findjob.CompanyName %> </p>
                                    <div class='seeandmoney'>
                            <p style="display: inline;"><i style="color: red;margin-right: 10px;" class="fas fa-map-marker-alt"></i><%= findjob.Province %> 
                                <p class='money' style="display: inline;"><span><i  class="fas fa-coins"></i></span> <%= findjob.MinimumSalary %> -</p> <p style="display: inline;"><%= findjob.MaximumSalary %></p> </p>
                            </div>
                                <div class="twobut">
                            <a class='seemore'  style="padding: 5px;background-color: white;border: solid 1px;" href="/job/<%= findjob._id %>">See More</a>
                            <% if(currentUser) { %>
                            <form  style="display: inline;" method="POST" action="/job/apply/<%= findjob._id %>">
                            <button style="background-color:  #6495ED;border-radius: 3px;color: white;padding: 2px 15px 1px 15px;" type="submit">Apply</button>
                            </form> 
                            <%   } %>
                        <%   if(!currentUser){  %>
                            <a href="/jobseeker/login" style="display: inline;border: solid 1px;padding: 6px 16px 7px 16px;background-color: #6495ED;color: white;text-align: center;">Apply </a> 
                            <%  } %>
                            </div>
                        </div>
                            </div>
                           
                        </div>
                        </div>
                        <%   }) %>  
                    </div>
            </div>
        </div>
    </div>
    <script >
        function clickclear() {
            document.getElementById('jobtile').value = '';
            document.getElementById('degree').value = 'Degree';
            document.getElementById('JobCategories').value = 'Job Categories';
            document.getElementById('MaximumSalary').value = 'MaximumSalary';
            document.getElementById('MinimumSalary').value = 'MinimumSalary';
            document.getElementById('Province').value = 'Province';
        }
         
      
    </script>
    </div>
    </body>
    <style>
      div.all{
          min-height: 1400px;
      }
      div.under{
            margin-top: 50px;
            margin-left:250px;
            margin-right: 250px;
            font-family: 'Bitter', serif;
            font-size: 20px;
          }
    a.seemore{
        margin-left: 400px;
    }
    p.recom{
        margin-right: 510px;
    }
    img.img-thumbnail{
        margin-left: 20px;
        max-width: 100%;
         height: 150px; 
         width: 150px; 
         object-position: 50% 0; 
         object-fit: cover;
    }
    div.pic{
        flex:30%;
    }
    p.position{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 21px;
     }
    p.money span{
        color: orange;margin-left: 80px;margin-right: 10px;
    }
    div.top{
        display: flex; 
        margin-left: 20px;
    }
    div.part3{
        flex: 10%;
        margin-top: 20px;
        margin-left: 10px;
    }
    div.part2{
        flex:10%;
        margin-top: 20px;
        margin-right: 20px;
    }
    div.but{
        margin-right:50px;
        margin-left:40px;
        margin-top: 20px;
    }
    button.glass{
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 25px;
        padding: 4px 10px 4px 10px;
        background-color: black;
    }
    button.remove{
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        color: white;font-size: 25px;
        background-color: black;
        padding: 4px 10px 4px 10px
    }
    div.detailjob{
        flex:80%;
    }
    div.allcontent{
        display: flex;
    }
    p.daypost{
        text-align: right;
        font-size: 20px;
    }
          @media screen and (max-width: 1024px) {
          div.under{
           width: 80%;
           margin-left:100px;
            margin-right: 0px;
            
          }
          a.seemore{
             
              margin-left: 350px;
          }
          p.recom{
        margin-right: 480px;
    }
          }
          @media screen and (max-width: 768px) {
            div.under{
           width: 80%;
           margin-left:80px;
            margin-right: 0px;
            
          }
            p.recom{
        margin-right: 270px;
    }
    a.seemore{
             
             margin-left: 200px;
         }
         img.img-thumbnail{
        margin-left: 20px;
        max-width: 100%;
         height: 120px; 
         width: 120px; 
         object-position: 50% 0; 
         object-fit: cover;
    }
    div.pic{
        flex:40%;
    }
    p.money span{
        color: orange;margin-left: 40px;margin-right: 10px;
    }
    p.position{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
     }
          }
          @media screen and (max-width: 425px) {
          div#boxrecom{
              font-size: 16px;
          }
            div.under{
           width: 80%;
           margin-left:45px;
            margin-right: 20px;
          }
          div.top{
             display: grid;
             grid-template-columns: 100%;
             width: 80%;
             margin-left: 40px;
          }
          div.part3{
        margin-top: 20px;margin-left: 0px;
        margin-right: 20px;
    }
    div.part2{
       
        margin-top: 0px;
        margin-right: 20px;
    }
    div.but{
       display: flex;
       margin-bottom: 20px;
    }
 button.glass{
flex:  50%;
margin-right: 10px;
 }
 button.remove{
    flex:  50%;
    margin-left: 10px;
 }
 div.all{
          min-height: 1650px;
      }
      div#allunder{
          font-size: 17px;
      }
      p.recom{
        margin-right: 50px;
    }
    div.allcontent{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
align-items: center;
    }
    p.money span{
        color: orange;
        margin-left: 10px;
        margin-right: 0px;
    }
    p.comname{
    text-align: center;
    }
    p.position{
        text-align: center;
    }
    div.pic{
        text-align: center;
        margin-right: 25px;
    }
    a.seemore{
        margin-left: 50px;
        margin-right: 40px;
    }
    div.twobut{
        margin-bottom: 10px;
     
    }
    div.seeandmoney{
        text-align: center;
    }
    p.daypost{
        text-align: right;
        font-size: 15px;
    }
      }
          
          @media screen and (max-width: 375px) {
            div#boxrecom{
              font-size: 13px;
          }
            div.top{
             display: grid;
             grid-template-columns: 100%;
             width: 80%;
             margin-left: 35px;
          }
          button.glass{
            flex:  50%;
            margin-right: 0px;
          }
          button.remove{
            flex:  50%;
            margin-left: 5px;
          }
          div.but{
             position: relative;
             right: 5px;
          }
          div#allunder{
          font-size: 14px;
      }
      p.position{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
     }
     a.seemore{
        margin-left: 40px;
        margin-right: 40px;
    }
    div.under{
           width: 80%;
           margin-left:40px;
            margin-right: 20px;
          }
          div.pic{
        text-align: center;
        margin-right: 20px;
    }
          }
          @media screen and (max-width: 320px) {
            div#boxrecom{
              font-size: 11px;
          }
            div.top{
             display: grid;
             grid-template-columns: 100%;
             width: 80%;
             margin-left: 30px;
          }
          a.seemore{
        margin-left: 30px;
        margin-right: 40px;
    }
          button.glass{
            flex:  50%;
            margin-right: 0px;
          }
          button.remove{
            flex:  50%;
            margin-left: 5px;
          }
          div.but{
             position: relative;
             right: 20px;
          }
          div#allunder{
          font-size: 12px;
      }
      p.position{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
     }
     p.daypost{
        text-align: right;
        font-size: 12px;
    }
    div.under{
           width: 80%;
           margin-left:35px;
            margin-right: 20px;
          }
          }
          
                 </style>
</html>

<%- include("partials/footer") %>