
<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/profileJob.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
       <style>

div#a::-webkit-scrollbar {
    width: 5px;
}
div#a::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 2px solid slategrey;
}
</style>
    </head>
    <h1 style="text-transform: uppercase;text-align: center;margin-top: 40px;font-family: 'Kanit', sans-serif;font-size: 60px;"><i style="margin-right: 50px;color:#280000  ;" class="fas fa-history"></i>History Job</h1>
<div  style="margin-top: 30px;margin-left: 250px;margin-right: 250px;font-family: 'Bitter', serif;font-size: 20px;">
    <div style="padding: 10px 10px 10px ;border-radius: 0px;" class="bg-drtail overflow-hidden">
    
        <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
            <div  style="background-color:gainsboro;border-radius: 0px;" class="panel panel-default margin-bottom" >
                <div style="background-color:black;padding-bottom: 10px;color: white;border-radius: 0px;" class="panel panel-default margin-bottom">
                    <div class="container" style="margin-top: 10px;">
                    <p  style="display: inline;">Job Apply </p>
                    <p style="display: inline;margin-left: 600px;"> Total <%= user.jobapply.length %> Jobs</p>
                </div>
                </div>
                <div id="a" style="background-color:gainsboro;border-radius: 0px;height:740px;overflow: auto;" class="panel panel-default margin-bottom" >
                <% user.jobapply.forEach((findjob)=>{ %>
                    <div style="background-color:	white;color: black;padding-bottom:15px;border-radius: 0px;"class="panel panel-default margin-bottom"" >
                        <div class="container" style="margin-top: 10px;">
                            <p style="text-align: right;font-size: 20px;" ><%= moment(findjob.Editdate).format('DD/MM/YYYY') %></p>
                       <div style="display: flex;">
                        <div style="flex:30%;">
                          
                            <figure >
                                <img class="img-thumbnail" style="margin-left: 20px;max-width: 100%; height: 150px; width: 150px; object-position: 50% 0; object-fit: cover;" src="/images/img-Comprofile/<%= findjob.image %>">
                                </figure>
                      
                            </div>
                            <div style="flex:80%;">
                            <p style="font-weight: bold;text-transform: uppercase;font-size: 21px;" ><%= findjob.JobPosition %></p>
                        <p ><%= findjob.CompanyName %> </p>
                        <p style="display: inline;"><i style="color: red;margin-right: 10px;" class="fas fa-map-marker-alt"></i><%= findjob.Province %> <p style="display: inline;"><i style="color: orange;margin-left: 80px;margin-right: 10px;" class="fas fa-coins"></i> <%= findjob.MinimumSalary %> -</p> <p style="display: inline;"><%= findjob.MaximumSalary %></p> </p>
                         
                        
                    <a  style="display: inline;padding: 5px;background-color: white;border: solid 1px;margin-left: 300px;" href="/job/<%= findjob._id %>">See More</a>
                   <form style="display: inline;" action="/job/apply/<%= findjob._id %>/delete" method="POST"> <button  style="background-color:  #6495ED;border-radius: 3px;color: white;padding: 2px 15px 1px 15px;" type="submit">Clear History</button></form>
                </div>
        
            </div>
           
        </div>
        </div>
                    <%   }) %>  
                </div>
                </div>
            </div>
        </div>
    </div>


<%- include("partials/footer") %>