<%- include("partials/headerafter") %>

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
<style>
    .table-content {
        width: 1000px;
        margin:auto;
        margin-top: 40px;
        text-align: center; 
        border-collapse: collapse;
     
 
    }

    td {
        border: 1px solid #ddd;
        border-collapse: collapse;
        width:500px
      
    }
</style>
<div class='allcontent'>
<h1 class='topic' ><span><i class="fas fa-history"></i></span>History Post Job</h1>
<div style="font-family: 'Kanit', sans-serif;" class="table-content">
    <table   class="table table-borded table-responsive table-striped " id="table-list">
        <thead class="table-dark">
            <tr  style="background-color:#615550;">
                
                <td>Job Position</td>
                <td>Public Date</td>
                <td>Edit Date</td>
                <td>End Date</td>
                <td>Manage</td>
            </tr>
        </thead>
       
        <tbody>
            <% job.postjobs.forEach(function(jobshow){ %>
                 <tr>
                   
                <td><%= jobshow.JobPosition %></td>
                <td><%= moment(jobshow.Publicdate).format('DD/MM/YYYY') %></td>
                <td><%= moment(jobshow.Editdate).format('DD/MM/YYYY') %></td>
                <td><%= moment(jobshow.Enddate).format('DD/MM/YYYY') %></td>
                <td><a  href="/job/<%= jobshow._id %>"><span><i class="fas fa-eye"></i></span></a>
                    
                    <a href="/job/<%= jobshow._id %>/edit"><span><i  class="fas fa-edit"></i></span></a>
                    <form  action="/job/<%= jobshow._id %>/remove" method="get"> <button type="submit"><span><i  class="fas fa-trash-alt"></span></i></button></form>
                </td>
                
            </tr>
        
            <% }) %>
        </tbody>
      
    </table>
   
</div>
</div>
<style>
    div.allcontent{
        margin-bottom: 120px;
    }
 a span{
    font-size: 25px;
    margin-right: 10px;
    color: #615550 ;
    display: inline;
  }
  button span{
    font-size: 25px;
    color:#615550  ;
  }
  button{
    border:none;
    padding:0px 0px 0px 0px;
    margin-right: 10px;
    display: inline;
  }
  form{
    display: inline;
  }
  h1.topic{
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
  }
  h1 span{
    margin-right: 50px;
    color:#280000  ;
  }
    @media screen and (max-width: 1024px) {
        div.allcontent{
            min-height: 790px;
            margin-bottom: 100px;
    }
    }
    @media screen and (max-width: 823px) {
        
    }
    @media screen and (max-width: 768px) {
        .table-content {
        width: 720px;
        margin: 50px auto;
        margin-top: 40px;
        text-align: center; 
        border-collapse: collapse;
    }
    a span{
    font-size: 20px;
    margin-right: 10px;
    color: #615550 ;
    display: inline;
  }
  button span{
    font-size: 20px;
    color:#615550  ;
  }
  button{
    border:none;
    padding:0px 0px 0px 0px;
    margin-right: 10px;
    display: inline;
  }
    }
    @media screen and (max-width: 667px) {
        .table-content {
        width: 550px;
        margin: 50px auto;
        margin-top: 40px;
        text-align: center; 
        border-collapse: collapse;
    }
    a span{
    font-size: 13px;
    margin-right:0px;
    color: #615550 ;
    display: inline;
  }
  button span{
    font-size: 13px;
    color:#615550  ;
  }
  button{
    border:none;
    padding:0px 0px 0px 0px;
    margin-right: 0px;
    display: inline;
  }
  
  td {
       font-size: 13px;
       width:500px
      
    }
    h1.topic{
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
  }
  h1 span{
    margin-right: 20px;
    color:#280000  ;
  }
    }
    @media screen and (max-width: 425px) {
        .table-content {
        width: 300px;
        margin: 50px auto;
        margin-top: 40px;
        text-align: center; 
        border-collapse: collapse;
    }
    a span{
    font-size: 10px;
    margin-right:0px;
    color: #615550 ;
    display: inline;
  }
  button span{
    font-size: 10px;
    color:#615550  ;
  }
  button{
    border:none;
    padding:0px 0px 0px 0px;
    margin-right: 0px;
    display: inline;
  }
  
  td {
       font-size: 7px;
       width:0px
      
    }
    h1.topic{
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
  }
  h1 span{
    margin-right: 20px;
    color:#280000  ;
  }
    }
    @media screen and (max-width: 375px) {
      
    }
    @media screen and (max-width: 320px) {
     
    }
  </style>
<%- include("partials/footer") %>
