<%- include("partials/headerafter") %>

<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
<style>
    .table-content {
        width: 1000px;
        margin: 50px auto;
        text-align: center; 
        border-collapse: collapse;
     
 
    }

    td {
        border: 1px solid #ddd;
        border-collapse: collapse;
        width:500px;
      
    }
</style>
<h1 style="text-transform: uppercase;text-align: center;margin-top: 40px;font-family: 'Kanit', sans-serif;font-size: 60px;"><i style="margin-right: 50px;color:#280000  ;" class="fas fa-history"></i>History Post Job</h1>
<div style="font-family: 'Kanit', sans-serif;" class="table-content">
    <table  class="table table-borded table-responsive table-striped " id="table-list">
        <thead class="table-dark">
            <tr  style="background-color:#615550;">
                
                <td>Job Position</td>
                <td>Public Date</td>
                <td>Edit Date</td>
                <td>End Date</td>
                <td>Manage</td>
            </tr>
        </thead>
       
        <tbody>
            <% job.postjobs.forEach(function(jobshow){ %>
                 <tr>
                   
                <td><%= jobshow.JobPosition %></td>
                <td><%= moment(jobshow.Publicdate).format('DD/MM/YYYY') %></td>
                <td><%= moment(jobshow.Editdate).format('DD/MM/YYYY') %></td>
                <td><%= moment(jobshow.Enddate).format('DD/MM/YYYY') %></td>
                <td><a  href="/job/<%= jobshow._id %>"><i style="font-size: 25px;margin-right: 10px;color: #615550 ;display: inline;" class="fas fa-eye"></i></a>
                    
                    <a href="/job/<%= jobshow._id %>/edit"><i style="font-size: 25px;margin-right: 10px;color:#615550  ;display: inline;" class="fas fa-edit"></i></a>
                    <form style="display: inline;" action="/job/<%= jobshow._id %>/remove" method="get"> <button style="border:none;padding:0px 0px 0px 0px;margin-right: 10px;display: inline;" type="submit"><i style="font-size: 25px;margin-left: px;color:#615550  ;" class="fas fa-trash-alt"></i></button></form>
                </td>
                
            </tr>
        
            <% }) %>
        </tbody>
      
    </table>
   
</div>


<%- include("partials/footer") %>
