

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/profileJob.css">
       
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
     
       
    </head>
  <body>
    <div class='allcontent'>
    <div class='superbox'>
        <div class=" col-lg-12 col-md-12 col-sm-12" >
            <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="bigbox" class="panel panel-default margin-bottom" >
                   
                   <div class='grid'>
                   
<div class='boxpic'>
   
   
    <p class='jobseeker'> Company </p><br>
    <p class='profile'> Profile  </p>
    <p class='circle'>  </p>
    <div style="margin-bottom: 20px;">
        
            <img class="img-thumbnail"  src="/images/img-Comprofile/<%= Company.image %>">
<div style="margin-bottom: 20px;margin-top: 60px;">
<p class='jobseekname'><%= Company.CompanyName %>  </p>
</div>

</div>
</div>

    <div class='boxcontent'>
      
          <div class='shadowbox'>
            <h1 class='aboutme'>About Company</h1>
            <div class='grid2'>
                <div class='leftcontent'>
                <div style="margin-right: 50px;margin-left: 10px;">
                    <p style="margin-left: 1px;text-transform: uppercase;">Tel : <%= Company.CompanyTelephoneNo %></p>
<p style="margin-left: 1px;"><span style="text-transform: uppercase;">Email :</span> <%= Company.email %></p>
        <p >Contact : <span style="margin-left: 1px;"><%= Company.Contactname %> <%= Company.ContactSurname %></span></p>
        <p >ContactTelephoneNo : <span style="margin-left: 1px;"><%= Company.ContactTelephoneNo %></span></p>
        <p >BusinessTypes : <span style="margin-left: 1px;"><%= Company.BusinessTypes %></span></p>
        
       
    </div>
    </div>
    <div class='rightcontent'>
        <div style="margin-right: 10px;">
            <p>Address : <span style="margin-left: 1px;"><%= Company.Address %></span></p>
            <p>Sub District: <span style="margin-left: 1px;"><%= Company.SubDistrict %></span></p>
        <p >District : <span style="margin-left: 1px;"><%= Company.District %></span></p>
        <p >Province : <span style="margin-left: 1px;"><%= Company.Province %></span></p>
        <p >Country : <span style="margin-left: 1px;"><%= Company.Country %></span></p>
        <p >Zip Code : <span style="margin-left: 1px;"><%= Company.ZipCode %></span></p>
    </div>
    </div>
</div>
    <p class='frame'></p>
    </div>
                     
        </div>
                            </div>           
                                                                      
                   
                </div>
            </div>
        </div>
    </div>
</div>      
  </body>
  <style>
  div.superbox{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 0px;
    font-family: 'Bitter', serif;
  }
img.img-thumbnail{
    height: 450px;
    width: 450px;
    margin-left: 90px;
    border-radius: 50% ;
    object-fit: cover;
    object-position: 50% 0;
    margin-top: 150px;
}
div.allcontent{
    min-height: 900px;
}
div.grid{
   display: flex;
}
div.grid2{
    display: flex;
    font-size: 14px;
}
h1.aboutme{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
div.shadowbox{
    background-color: white;
    z-index: 1;
    height: 450px;
    margin-top: 175px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5) ;
}
div.leftcontent{
    flex:50%;
    margin-left: 30px;
}
div.rightcontent{
    flex: 50%;
    margin-left: 20px;
}
div.boxpic{
    flex:50%;
    background-color:#C0AB8E;
    background-size: 100%;
    height: 800px;
    border-radius: 0px;
}
div.boxcontent{
    flex:50%;
    background-color:white;
    height: 800px;
    z-index: 1;
    border-radius: 0px;
}
div.bigbox{
    background-color:white ;
    height: 800px;
    border-radius: 0px;
}
p.jobseeker{
    position:absolute;
    font-size: 60px;
    left:100px;
    color: #331a00 ;
    top: 120px;
}
p.frame{
    border: solid 3px;
    position: absolute;
    z-index: -2;
    right: 100px;
    height: 600px;
    width: 470px;
    top: 100px;
}
p.profile{
    position:absolute;
    font-size: 60px;
    top: 220px;
    left:100px;
    color: #331a00 ;
}
p.circle{
    position:absolute;
    font-size: 60px;
    left:370px;
    border-radius: 50%;
    top: 530px;
    padding: 70px;
    background-color: #797B3A;
}
a.edit{
    font-size: 50px;
    margin-left: 560px;
    position: absolute;
    top: 1px;
}
p.jobseekname{
    text-align:center;
    text-transform: uppercase;
    font-size: 35px;
    color: #331a00 ;
}
@media screen and (max-width: 1024px) {
    div.allcontent{
    min-height: 1600px;
}

 div.grid{
    display: grid;
grid-template-columns: 100%;
 }
 p.frame{
     display:none
 }
 p.jobseeker{
    position:absolute;
    font-size: 60px;
    left:210px;
    color: #331a00 ;
    top: 90px;
}
p.jobseekname{
    text-align:center;
    text-transform: uppercase;
    font-size: 40px;
    color: #331a00 ;
}
p.profile{
    position:absolute;
    font-size: 60px;
    top: 90px;
    left:580px;
    color: #331a00 ;
}
 div.boxpic{
    flex:50%;
    background-color:#C0AB8E;
    background-size: 100%;
    height: 800px;
    border-radius: 0px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5) ;
}
a.edit{
    font-size: 50px;
    margin-left: 820px;
    position: absolute;
    top: 110px;
    color: black;
}
img.img-thumbnail{
    height: 400px;
    width: 400px;
    margin-left: 230px;
    border-radius: 50% ;
    object-fit: cover;
    object-position: 50% 0;
    margin-top: 150px;
}
p.circle{
    position:absolute;
    font-size: 60px;
    left:570px;
    border-radius: 50%;
    top: 510px;
    padding: 60px;
    background-color: #797B3A;
}
}
@media screen and (max-width: 768px) {
    div.allcontent{
    min-height: 1500px;
}
    div.boxpic{
    background-color:#C0AB8E;
    background-size: 100%;
    height: 700px;
    border-radius: 0px;
    margin-left: 45px;
    margin-right: 45px;
}
p.jobseeker{
    position:absolute;
    font-size: 50px;
    left:150px;
    color: #331a00 ;
    top: 110px;
}
p.profile{
    position:absolute;
    font-size: 50px;
    top: 110px;
    left:430px;
    color: #331a00 ;
}
    p.jobseekname{
    text-align:center;
    text-transform: uppercase;
    font-size: 30px;
    color: #331a00 ;
    position: relative;
    top: -20px;
   
}
    a.edit{
    font-size: 50px;
    margin-left: 580px;
    position: absolute;
    top: 100px;
}
    img.img-thumbnail{
    height: 350px;
    width: 350px;
    margin-left: 130px;
    border-radius: 50% ;
    object-fit: cover;
    object-position: 50% 0;
    margin-top: 150px;
}
p.circle{
    position:absolute;
    font-size: 60px;
    left:410px;
    border-radius: 50%;
    top: 430px;
    padding: 60px;
    background-color: #797B3A;
}
}
@media screen and (max-width: 425px) {
    div.grid2{
    display: grid;
    grid-template-columns: 100%;
}


p.jobseekname{
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
    color: #331a00 ;
    position: relative;
    top: -40px;
}
p.jobseeker{
    position:absolute;
    font-size: 30px;
    left:140px;
    color: #331a00 ;
    top:100px;
}

p.profile{
    position:absolute;
    font-size: 30px;
    top: 145px;
    left:155px;
    color: #331a00 ;
}
a.edit{
    font-size: 25px;
    margin-left: 260px;
    position: absolute;
    top: 100px;
}
p.circle{
    position:absolute;
    font-size: 60px;
    left:200px;
    border-radius: 50%;
    top: 240px;
    padding: 30px;
    background-color: #797B3A;
}
img.img-thumbnail{
    height: 150px;
    width: 150px;
    margin-left: 50px;
    border-radius: 50% ;
    object-fit: cover;
    object-position: 50% 0;
    margin-top:110px;
}
div.boxcontent{
    flex:50%;
    background-color:white;
    height: 770px;
    z-index: 1;
    border-radius: 0px;
}

div.shadowbox{
    background-color: white;
    z-index: 1;
   
    min-height: 620px;
    margin-top: 175px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5) ;
}
div.allcontent{
    min-height: 1400px;
}
div.leftcontent{
   margin-left: 18px;
}
div.rightcontent{
   
    margin-left: 27px;
}
div.boxpic{
   
    background-color:#C0AB8E;
    background-size: 100%;
    height: 400px;
    border-radius: 0px;
}
h1.aboutme{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 25px;
}

}
@media screen and (max-width: 375px) {
    p.profile{
    position:absolute;
    font-size: 30px;
    top: 140px;
    left:130px;
    color: #331a00 ;
}
p.jobseeker{
    position:absolute;
    font-size: 30px;
    left:110px;
    color: #331a00 ;
    top:100px;
}
a.edit{
    font-size: 25px;
    margin-left: 260px;
    position: absolute;
    top: 110px;
}
    div.superbox{
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px;
    font-family: 'Bitter', serif;
  }
  img.img-thumbnail{
    height: 120px;
    width: 120px;
    margin-left: 70px;
    border-radius: 50% ;
    object-fit: cover;
    object-position: 50% 0;
    margin-top: 110px;
}
p.circle{
    position:absolute;
   
    left:200px;
    border-radius: 50%;
    top: 260px;
    padding: 25px;
    background-color: #797B3A;
}
p.jobseekname{
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
    color: #331a00 ;
    position: relative;
    top: -30px;
}
}
@media screen and (max-width: 320px) {
    div.superbox{
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    font-family: 'Bitter', serif;
  }
  p.circle{
    position:absolute;
    
    left:180px;
    border-radius: 50%;
    top: 220px;
    padding: 20px;
    background-color: #797B3A;
}
a.edit{
    font-size: 22px;
    margin-left: 230px;
    position: absolute;
    top: 105px;
}
  img.img-thumbnail{
    height: 120px;
    width: 120px;
    margin-left: 45px;
    border-radius: 50% ;
    object-fit: cover;
    object-position: 50% 0;
    margin-top: 110px;
}
  div.leftcontent{
    font-size: 12px;
}
div.rightcontent{
   
    font-size: 12px;
}
p.profile{
    position:absolute;
    font-size: 25px;
    top: 150px;
    left:120px;
    color: #331a00 ;
}
p.jobseekname{
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
    color: #331a00 ;
    position: relative;
    top: -40px;
}
p.jobseeker{
    position:absolute;
    font-size: 25px;
    left:100px;
    color: #331a00 ;
    top:110px;
}
}
</style>