

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/navbar.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/profileJob.css">
        <meta name="description" content="">
       
       
    </head>
    <div style="margin-top: 100px;margin-bottom: 100px;" class="container">

    <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
        <div style="background-color:white;" class="panel panel-default margin-bottom" >
            <p style="margin-left: 80px;margin-top: 30px;font-size: 30px;margin-bottom: 30px;"><%= showjob.CompanyName %></p>
            <div style="background-color:#f5f5ef;" class="panel panel-default margin-bottom" >

              
                <div class="container" style="height:270px;">
                <p style="text-align: right;margin-top: 10px;"><%= moment(showjob.Enddate).format('DD/MM/YYYY') %></p>
                <div style="display: flex;">
                    <div style="flex:30%">

                        <img class="img-thumbnail" style="margin-left: 40px;max-width: 100%; height: 170px; width: 150px; object-position: 50% 0; object-fit: cover;" src="/images/img-Comprofile/<%= showjob.image %>">
                    </div>

                    <div style="flex:90%">
                <p style="font-weight: bold;font-size: 30px;"><%= showjob.JobPosition %></p>
                <p><span style="font-weight: bold;"><i style="color: orange;margin-right: 8px;font-size: 20px;" class="fas fa-coins"></i>Salary : </span><%= showjob.MinimumSalary %> - <%= showjob.MaximumSalary %> </p>
                <p><span style="font-weight: bold;"><i class="fas fa-award" style="color: brown;margin-right: 10px;font-size: 20px;"></i>Degree :</span> <%=  showjob.Degree %> </p> 
                <p><span style="font-weight: bold;"><i style="color: red;margin-right: 10px;font-size: 20px;" class="fas fa-map-marker-alt"></i>Province :</span> <%=  showjob.Province %> </p> 
            </div>
            </div>
              
            </div>
          
          
               

            </div>

            <div style="display: flex;margin-bottom: 50px;">

                <div style="flex:50%;margin-left: 60px;margin-top: 20px;">
            <p style="margin-left: 10px;margin-top: 20px;font-weight: bold;">JobDescription  </p>
                <p style="margin-bottom: 20px;"><%- showjob.JobDescription %> </p>
                <p style="margin-left: 10px;margin-top: 50px;font-weight: bold;">Qualifications of jobapplicants
                </p>
                <p><%- showjob.Qualificationsofjobapplicants %> </p>
                <p style="margin-left: 10px;margin-top: 40px;font-weight: bold;">How To Go Company  </p>
                <p><%- showjob.Howtogocompany %> </p>
                </div>

                <div style="flex:50%;margin-left: 90px;margin-top: 20px;margin-right: 50px;">
                    <p style="margin-left: 10px;margin-top: 20px;font-weight: bold;">Welfare </p>
                    <p><%- showjob.Welfare %> </p>
                    <p style="margin-left: 10px;margin-top: 40px;font-weight: bold;">Contact

                    </p>
                    <p><%= showjob.Contact %> </p>
                    <p style="margin-left: 10px;margin-top: 40px;font-weight: bold;">Address  </p>
                    <p><%= showjob.Address %> </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

