
<%- include("partials/headerafter") %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/profileJob.css">
       
    </head>
    <div style="margin-top: 20px;" class="container">

    <div  class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
        <div style="background-color:white;" class="panel panel-default margin-bottom" >
            <p style="margin-left: 80px;margin-top: 30px;font-size: 30px;margin-bottom: 30px;"><%= showjob.CompanyName %></p>
            <div style="background-color:#F0EDE5;" class="panel panel-default margin-bottom" >

              
                <div class="container">
                <p style="text-align: right;margin-top: 10px;"><%= showjob.Publicdate %></p>
                <p style="font-weight: bold;margin-left: 30px;font-size: 30px;"><%= showjob.JobPosition %></p>
                <p><span style="font-weight: bold;">Salary : </span>Minimum <%= showjob.MinimumSalary %> Maximum <%= showjob.MaximumSalary %> </p>
                <p><span style="font-weight: bold;">Degree :</span> <%=  showjob.Degree %> </p> 
             <form action="" method="POST">  
                <button style="margin-left: 980px;margin-bottom: 20px;">Applyjob </button> 
            </form> 
            </div>
          
          
               

            </div>

            <div style="display: flex;margin-bottom: 50px;">

                <div style="flex:50%;margin-left: 60px;margin-top: 20px;">
            <p style="margin-left: 10px;margin-top: 20px;font-weight: bold;">JobDescription  </p>
                <p style="margin-bottom: 20px;"><%- showjob.JobDescription %> </p>
                <p style="margin-left: 10px;margin-top: 50px;font-weight: bold;">Qualifications of jobapplicants
                </p>
                <p><%- showjob.Qualificationsofjobapplicants %> </p>
                <p style="margin-left: 10px;margin-top: 40px;font-weight: bold;">How To Go Company  </p>
                <p><%- showjob.Howtogocompany %> </p>
                </div>

                <div style="flex:50%;margin-left: 90px;margin-top: 20px;margin-right: 50px;">
                    <p style="margin-left: 10px;margin-top: 20px;font-weight: bold;">Welfare </p>
                    <p><%- showjob.Welfare %> </p>
                    <p style="margin-left: 10px;margin-top: 40px;font-weight: bold;">Contact

                    </p>
                    <p><%= showjob.Contact %> </p>
                    <p style="margin-left: 10px;margin-top: 40px;font-weight: bold;">Address  </p>
                    <p><%= showjob.Address %> </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<%- include("partials/footer") %>