<%- include("partials/headerafter") %>




<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SmileJob.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          
        <link rel="stylesheet" href="/profileJob.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mitr:wght@300&display=swap" rel="stylesheet">
       
       
    </head>
    <div class='allcontent'>
    <form action="/company/profile/<%= Comload._id %>/edit" method="Post" enctype="multipart/form-data">
        <div id='allpage' >
            <div class='pic' style="flex:20%;"   >
                <div style="box-shadow: 5px 5px 15px 5px rgba(50, 50, 50, .5) ;margin-left:50px;margin-right: 10px;" class="sj-border-grey sj-none overflow-hidden margin-bottom">
                    <div style="background-color: #F0EDE5;" class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                        <div style="border-radius: 0px;" class="panel panel-default margin-bottom" >
                             <figure class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="row">
                                        <div class="pic-company pic-company-cc" style="margin: auto;">
                                             <section class="profileSeeker">
                                                <ul>
                                                    <div class="rwz_memPic" id="memPic_img">
                                                <li>
                                                    <figure class="resume-pic">
                                                     <img style="margin-top: 30px;" src="https://res.cloudinary.com/smilejob/image/upload/v1592891078/<%= Comload.image %>.jpg" alt="your image" class="target">
                                                   </figure>
                                            </li>
                                                    <li>
                                                        <a  class="upImage" for="file">
                                                         <i  class="fa fa-camera" aria-hidden="true"></i>
                                                         Choose image										</a> 
                                                         <input name="image" type="file" id="file" /> 
                                                    </li>
                                                     </div>
                                                </ul>
                                             </section>
                    
                                         </div>
                                    <div>
                            </figure>
                        </div>
                     </div>
                </div>
            </div>

            <script>
                $(function () {
        
        "use strict";
        
        function url(input) {
            if (input.files && input.files[0]) {
        
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(".target").attr("src", e.target.result);
                };
        
                reader.readAsDataURL(input.files[0]);
        
            }
        }
        $("#file").change(function () {
            url(this);
        });
        });
            </script>
            <div style="flex:100%;"  class="col-md-8 col-sm-8 col-xs-12 col-lg-12s ">
                <div style="padding: 10px 10px 10px " class="bg-drtail overflow-hidden">
                    <div class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                       
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="panel-group panel-group-a" id="accordion" role="tablist" aria-multiselectable="true">
                                
                                    
                                    <div  class="panel panel-default margin-bottom" id="step1">
                                        <h1 class='name' style="text-align: center;margin-top: 20px;">Company Profile</h1>
                            <div class = "row" style="display:flex;">
        
                                <div class='part1'> 
                                    
                        <h6 class="margin-bottom-1"><b>Contact name</b><span class="text-red"> *</span></h6>
                        <input  type="text" class="form-control sj-form-control"  name="Contactname" id="firstname" value="<%= Comload.Contactname %>">
                        <h6  class="margin-bottom-1"><b>Contact Surname</b><span class="text-red"> *</span></h6>
                        <input  type="text" class="form-control sj-form-control" name="ContactSurname" id="firstname" value="<%= Comload.ContactSurname %>">
                           
                        
                           
                            <h6  class="margin-bottom-1"><b>Contact Telephone No.</b><span class="text-red"> *</span></h6>
                            <input  type="text" class="form-control sj-form-control"  name="ContactTelephoneNo" id="firstname" value="<%= Comload.ContactTelephoneNo %>">
                            <h6 class="margin-bottom-1"><b>Company Telephone No.</b><span class="text-red"> *</span></h6>
                            <input  type="text" class="form-control sj-form-control" name="CompanyTelephoneNo" id="firstname" value="<%= Comload.CompanyTelephoneNo  %>">
                            <h6 class="margin-bottom-1"><b>District</b><span class="text-red"> *</span></h6>
                             <input type="text" class="form-control sj-form-control"  id="weight" name="District" value="<%= Comload.District %>">
                              <h6 class="margin-bottom-1"><b>Sub District</b><span class="text-red"> *</span></h6>
                               <input type="text" class="form-control sj-form-control"  id="weight" name="SubDistrict" value="<%= Comload.SubDistrict %>">
                        </div>
                            <div  class='part2'>
                                <h6  class="margin-bottom-1"><b>Company Name</b><span class="text-red"> *</span></h6>
                            <input  type="text" class="form-control sj-form-control"  name="CompanyName" id="firstname" value="<%= Comload.CompanyName %>">
                            <h6  class="margin-bottom-1"><b>Business Types</b><span class="text-red"> *</span></h6>
                            <input  type="text" class="form-control sj-form-control"  name="BusinessTypes" id="firstname" value="<%= Comload.BusinessTypes %>">
                             <h6 class="margin-bottom-1"><b>Address</b><span class="text-red"> *</span><span class="text-red" style="font-size: 14px;color: gray;"> (House.No,Alley,Road)</span></h6>
                               <textarea class="form-control" rows="3" id="address" name="Address"><%= Comload.Address %></textarea>
                              <h6 class="margin-bottom-1"><b>Country</b></h6>
                                <select  value="" class="form-control" id="country" name="Country">
                                                                                                                                                                                                            <option  selected="selected">Thailand</option>
                                                                                                                                                                                                           
                                                                                                                                                                                                </select>
                                                                                                                                                                                                <h6 class="margin-bottom-1"><b>Province</b></h6>
                                                                                                                                                                                                <select name="Province"  class="form-control jobbkk-form-control text-form-select" id="occupation" name="occupation" onChange="getOccupationSub()">
                                                                                                                                                                                                    <option  >Province</option>
                                                                                                                                                                                                    <option  >Bangkok</option>
                                                                                                                                                                                                    <option  >Nakhon Pathom </option>
                                                                                                                                                                                                    <option  >Nakhon Sawan</option>
                                                                                                                                                                                                    <option  >Nonthaburi </option>
                                                                                                                                                                                                    <option >Chonburi </option>
                                                                                                                                                                                                    <option  >Rayong </option>
                                                                                                                                                                                                    <option  >Phetchaburi </option>
                                                                                                                                                                                                    <option >Ratchaburi</option>
                                                                                                                                                                                                    <option  >Krabi</option>
                                                                                                                                                                                                    <option  >Phuket </option>
                                                                                                                                                                                                    <option  >Ranong</option>
                                                                                                                                                                                                    <option  >Songkhla</option>
                                                                                                                                                                                                                        </select>
                                                                                                                                                                                                <h6 class="margin-bottom-1"><b>Zip Code</b><span class="text-red"> *</span></h6>
                            <input  type="text" class="form-control sj-form-control"  id="weight" name="ZipCode" value="<%= Comload.ZipCode %>">
                                                                                                                                                                                                
                                                                                                                                                                                    
                                                                                                                                                                                               
        
                          
                           
                        </div>
                            
                            
                        
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 mem-cancel ">
            <ul>
                
               
                <li><button style="background-color:#00BFFF;padding-left: 10px;text-align: center;padding-right: 80px;margin-bottom: 20px;text-indent: 70px;" class="btn2 btn-primary" id="butcom" type="submit" name="save_btn" value="save">Save</button></li>
            </ul>
        </div>
        </div>
                          
                  
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        
        </form>
    </div>
    <style>
        div.allcontent{
          min-height: 750px;
        }
        div.content{
          display:flex;
        }
        div.part1{
          flex: 50%;
          padding-left: 50px;
          padding-right: 50px;
          padding-top: 20px;
          padding-bottom: 20px;
        
        }
        div.part2{
          flex: 50%;
          padding-top: 20px;
          padding-right:50px;
          padding-left: 50px;
          padding-bottom: 20px;
        }
        div#allpage{
          display:flex;
          margin-top: 70px;
          font-family: 'Kanit', sans-serif;
        }
          @media screen and (max-width: 1024px) {
              div.allcontent{
          min-height: 780px;
        }
          }
          @media screen and (max-width: 768px) {
              div.allcontent{
          min-height: 1150px;
        }
        div.content{
          display:grid;
          grid-template-columns: 100%;
          text-align: center;
          
        }
        div.part1{
          margin-left: 30px;
          padding-left: 30px;
          padding-right: 70px;
          padding-top: 20px;
          padding-bottom: 0px;
        }
        div.part2{
        margin-left: 40px;
          padding-top: 0px;
          padding-right: 70px;
          padding-left: 20px;
          padding-bottom: 20px;
        }
          }
          @media screen and (max-width: 425px) {
              div#allpage{
                  display:grid;
          grid-template-columns: 100%;
          margin-top: 70px;
          font-family: 'Kanit', sans-serif;
        }
        div.pic{
            margin-bottom: 50px;
            margin-right: 45px;
        }
        div.allcontent{
          min-height: 1500px;
        }
        h1.name{
            font-size: 35px;
        }
          }
          @media screen and (max-width: 375px) {
            div.allcontent{
          min-height: 1450px;
        }
              div.part1{
          margin-left: 19px;
          padding-left: 30px;
          padding-right: 50px;
          padding-top: 20px;
          padding-bottom: 0px;
        }
        div.part2{
        margin-left: 29px;
          padding-top: 0px;
          padding-right: 50px;
          padding-left: 20px;
          padding-bottom: 20px;
        }
        h1.name{
            font-size: 33px;
        }
          }
          @media screen and (max-width: 320px) {
              div.part1{
          margin-left: 0px;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 20px;
          padding-bottom: 0px;
        }
        div.part2{
        margin-left: 0px;
          padding-top: 0px;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 20px;
        }
        div.content{
          display:grid;
          grid-template-columns: 100%;
          text-align: center;
        }
        h1.name{
            font-size: 28px;
        }
          }
        </style>
<%- include("partials/footer") %>